<div class="container-fluid">
    <div class="row">
        <div class="col-12 status-number">
            <p>404</p>
        </div>
        <div class="col-12 content">
            <div>
                <div class="title-not-found">
                    <h1>Sorry, Page Not Found</h1>
                </div>
                <div class="text-not-found">
                    <p>The page you requested could not be found</p>
                </div>
                <div class="btn-not-found">
                    <button type="button" class="btn btn-secondary" [routerLink]="['/']">Go Back Home</button>
                </div>
            </div>
        </div>
    </div>
</div>